@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gothampro';
  src: url('./assets/fonts/gothampro-black.ttf') format('ttf'),
       url('./assets/fonts/gothampro-black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamproBold';
  src: url('./assets/fonts/GOTHAPROBOL.OTF') format('otf'),
       url('./assets/fonts/GOTHAPROBOL.OTF') format('otf');
  font-weight: bold;
  font-style: normal;
}


:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--gotham);
  font-size: 1.6rem;
  color: #202022;
  line-height: 2.4rem;
}

.container{
  max-width: 1200px;
  padding-left:20px;
  padding-right:20px;
  width: 100%;
  margin: 0 auto;
}

.gotham {
  font-family: var(--gotham);
}
